<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554200616932-5s0gjbm8gl33ikh7iq3fv2po2m3mutc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554200616932-5s0gjbm8gl33ikh7iq3fv2po2m3mutc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSId9rsUHZE_iFbvAhmaCE_P6Ckz9mg20</string>
	<key>GCM_SENDER_ID</key>
	<string>554200616932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarvuz07.flutterappclue</string>
	<key>PROJECT_ID</key>
	<string>flutterappclue</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterappclue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554200616932:ios:a39efea8fdbd7ae85381f1</string>
</dict>
</plist>